<style>
    .bg-custom {
      background-color: #C4D9FF !important;
    }
  
    .navbar-dark .navbar-nav .nav-link {
      color: #4a3f2c !important; /* warna teks lebih gelap agar kontras */
    }
  
    .navbar-dark .navbar-nav .nav-link:hover {
      color: #2f261a !important; /* lebih gelap saat hover */
    }
  
    .navbar-dark .navbar-brand {
      color: #4a3f2c !important;
      font-weight: bold;
    }
  </style>
  
  <style>
  .bg-custom-footer {
    background-color: #C4D9FF !important;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer-icons i {
    color: #4a3f2c;
  }
</style>  

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
