<section id="skills" class="skills">
  <h2 class="section-title fade-in">Skills</h2>
  <div class="skills-container">
    <div class="skill-card">
      <div class="skill-icon"><i class="fas fa-calculator"></i></div>
      <h3>Mathematic Calculation</h3>
      <p>Memiliki kemampuan perhitungan matematika secara efisien dan sistematis.</p>
    </div>
    <div class="skill-card">
      <div class="skill-icon"><i class="fas fa-laptop-code"></i></div>
      <h3>Web Development</h3>
      <p>Mampu membuat dan mengembangkan website menggunakan HTML, CSS, JavaScript, dan framework modern.</p>
    </div>
  </div>
  <hr>
  <h2 class="section-title hobby fade-in">Hobby</h2>
  <div class="skills-container">
    <div class="skill-card">
      <div class="skill-icon"><i class="fas fa-music"></i></div>
      <h3>Music Listener</h3>
      <p>Musik adalah salah satu sarana refreshing yang dapat membawa ketenangan dan membantu reset perasaan.</p>
    </div>
    <div class="skill-card">
      <div class="skill-icon"><i class="fas fa-language"></i> <i class="fas fa-book-open"></i></div>
      <h3>Learn New Language</h3>
      <p>Mempelajari bahasa baru meningkatkan kemampuan berpikir dan menambah value dalam persaingan global.</p>
    </div>
    <div class="skill-card">
      <div class="skill-icon"><i class="fas fa-bullhorn"></i></div>
      <h3>Make a Resume</h3>
      <p>Dengan merangkum sebuah topik, dapat membantu pemahaman dan efisiensi dalam belajar.</p>
    </div>
  </div>

 
</section>
