
<section id="proyek" class="proyek">
  <h1>  PROJEK SAYA </h1>
<div class="grid1">
  <div class="card1">
        <img src="https://i.imgur.com/lilhsFg.png/300x160" alt="Proyek A" class="card-img1" />
    <div class="card-content1">
      <div class="card-title1">guided Learning NetDev 2024 by Adaptive network</div>
      <button class="detail-btn1" onclick="openModal('modal-a')">Detail</button>
    </div>
  </div>

  <!-- Proyek B -->
  <div class="card1">
    <img src="https://i.imgur.com/K8sZHjh.jpg/300x160" alt="Proyek B" class="card-img1" />
    <div class="card-content1">
      <div class="card-title1">Bounding day 2024</div>
      <button class="detail-btn1" onclick="openModal('modal-b')">Detail</button>
    </div>
  </div>

  <!-- Proyek C -->
  <div class="card1">
    <img src="https://i.imgur.com/itvYiXW.png/300x160" alt="Proyek C" class="card-img1" />
    <div class="card-content1">
      <div class="card-title1">Dorm Kliping 2024</div>
      <button class="detail-btn1" onclick="openModal('modal-c')">Detail</button>
    </div>
  </div>

  <!-- Proyek E -->
<div class="card1">
  <img src="https://i.imgur.com/s8UiydH.png/300x1600" alt="Proyek E" class="card-img1" />
  <div class="card-content1">
    <div class="card-title1">Portfolio Website</div>
    <button class="detail-btn1" onclick="openModal('modal-e')">Detail</button>
  </div>
</div>

  <!-- Proyek D -->
  <div class="card1">
    <img src="https://i.imgur.com/RdVs5Bl.jpeg/300x1600" alt="Proyek D" class="card-img1" />
    <div class="card-content1">
      <div class="card-title1">Japan language learning</div>
      <button class="detail-btn1" onclick="openModal('modal-d')">Detail</button>
    </div>
  </div>
</div>

 
<!-- Modal Proyek A -->
<div id="modal-a" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('modal-a')">&times;</span>
    <h2>Guided Learning NetDev 2024</h2>
    <img src="https://i.imgur.com/lilhsFg.png/300x160" alt="Proyek A" class="card-img1" />
    <ol>Nama Proyek : Guided learning NetDev 2024</ol>
    <ol>Tanggal pelaksanaan : 7-21,Maret,2024 </ol>
    <ol>Lokasi pelaksanaan : Telkom-University,Bandung</ol>
    <ol>Deskripsi acara : Guided Learning adalah sebuah program dari Adaptive Network Laboratory 
        yang termasuk di dalam serangkaian acara bernama NetDev, disini saya diajarkan dari nol cara membuat sebuah
         web sederhana yang di gurui oleh course dari udemy
    </ol>
    <ol> Hasil : hasil dari proyek ini adalah saya dapat membuat sebuah web sederhana menggunakan django </ol>
    <ol> Posisi : Peserta </ol>
  </div>
</div>

<!-- Modal Proyek B -->
<div id="modal-b" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('modal-b')">&times;</span>
    <h2>Bounding day 2024</h2>
    <img src="https://i.imgur.com/K8sZHjh.jpg/300x160" alt="Proyek A" class="card-img1" />
    <ol>Nama Proyek : Bounding Day 2024</ol>
    <ol>Lokasi pelaksanaan : lembang,Bandung</ol>
    <ol>Tanggal pelaksanaan : 07-08,Desember,2024</ol>
    <ol>Deskripsi Acara : Bounding day 2024 adalah kegiatan yang diadakan oleh TT4801 sebagai ajang untuk mengeratkan 
        persaudaraan antar mahasiswa TT4801 Telkom-University , berbentuk makrab(malam keakraban) 
    </ol>
    <ol> Posisi : Ketua Pelaksana </ol>
  </div>
</div>

<!-- Modal Proyek E -->
<div id="modal-e" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('modal-e')">&times;</span>
    <h2>Final Project Netdev</h2>
    <img src=https://i.imgur.com/s8UiydH.png" alt="Proyek E" class="card-img1" />
    <ol>Nama Proyek: Portfolio Website</ol>
    <ol>Tanggal pelaksanaan: 2 April 2025-5 mei 2025</ol>
    <ol>Deskripsi: Website ini dibuat sebagai media untuk menampilkan seluruh proyek, pengalaman, dan kemampuan saya dalam bentuk digital. Dibangun dengan HTML, CSS, dan JavaScript agar responsif dan menarik. diadakan oleh AN Laboratory di dalam rangkaian kegaiatan NETDEV</ol>
    <ol>Posisi: Developer</ol>
  </div>
</div>

<!-- Modal Proyek C -->
<div id="modal-c" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('modal-c')">&times;</span>
    <h2>Dorm Kliping 2024</h2>
    <img src="https://i.imgur.com/itvYiXW.png/300x160" alt="Proyek A" class="card-img1" />
    <ol>Nama Proyek : Dorm Kliping 2024</ol>
    <ol>Lokasi pelaksanaan : Asrama Telkom University,Bandung</ol>
    <ol>Tanggal pelaksanaan : 30 Desember- 17 januari,2024</ol>
    <ol>Deskripsi Acara : Dorm Kliping adalah sebuah kegiatan yang dibuat oleh DITMAWA yang mewajibkan bagi anggota asrama membuat sebuah kliping yang 
        berisi biodata untuk membuat anggota asrama saling mengenal
    </ol>
    <ol> Posisi : Panitia Penilaian </ol>
  </div>
</div>
    
<!-- Modal Proyek D -->
<div id="modal-d" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('modal-d')">&times;</span>
    <h2> Proyek Pribadi </h2>
    <img src="https://i.imgur.com/RdVs5Bl.jpeg/300x160" alt="Proyek A" class="card-img1" />
    <ol>Nama Proyek : japan language learning </ol>
    <ol>Tanggal pelaksanaan : 10 april 2025 - sekarang</ol>
    <ol>Deskripsi Acara : Belajar bahasa Jepang ... </ol>
    <ol>Posisi: Belajar Mandiri</ol>
  </div>
</div>


</section> 
<!-- KALO MAU NAMBAH DATA , TAMBAHIN BAGIAN MODAL DAN JUGA PROYEK , dan jangan lupa ganti id di modal-->