<section id="summary-section">
  <div class="summary-grid">

    <div class="summary-box">
      <h2 class="section-title">Soft Skills</h2>
      <ul class="soft-skill-list">
        <li>Leadership</li>
        <li>Problem Solving</li>
        <li>Public Speaking</li>
        <li>Creative Thinking</li>
      </ul>
      <hr>
      <h2 class="section-title">Certificate</h2>
      <ul class="soft-skill-list">
        <li>
          <strong>Python fundamental part 1</strong> -Udemy, 2023
        </li>
        <li>
          <strong>EF Set </strong> - EF, Score:59.0(B2), 2024
        </li>
        <li>
          <strong>Fundamental Of Ethical Hacking</strong> - Udemy, 2025
        </li>
        <li>
          <strong>Djanggo fundamental </strong> - Udemy, 2025
        </li>
      </ul>
    </div>

    <!-- Box 2: Experience -->
    <div class="summary-box">
      <h2 class="section-title">Experience</h2>
      <ul class="experience-list">
        <li><strong>Olimpiade Sains Nasional 2022</strong><br>Matematika | Kemdikbud | 2022</li>
        <li><strong>Olimpiade Sains Nasional 2023</strong><br>Astronomi | Kemdikbud | 2023</li>
        <li><strong>Sekolah Kebangsaan 2023 </strong><br>Pemkot Surabaya | 2023</li>
        <li><strong> Ethical Hacking Workshop 2024 </strong><br>MBC Laboratory |Telkom-University | 2024 </li>
        <li><strong> Netschool 2024 </strong><br>Adaptive Network Laboratory |Telkom-University | 2024 </li>
      </ul>
    </div>

    <!-- Box 3: Riwayat Edukasi -->
    <div class="summary-box">
      <h2 class="section-title">Riwayat Edukasi</h2>
      <div class="education-cards">
        <a href="https://telkomuniversity.ac.id/" class="education-card" target="_blank">
          <p class="edu-name">Telkom-University</p>
          <img src="https://i.imgur.com/qcOV7Fe_d.png?maxwidth=520&shape=thumb&fidelity=high" alt="Logo SMAN 1" class="edu-img" />
          <p class="edu-year">2024 - sekarang</p>
        </a>
        <a href="https://sman4sby.sch.id/" class="education-card" target="_blank">
          <p class="edu-name">SMA Negeri 4 Surabaya</p>
          <img src="https://i.imgur.com/ksUSjfC_d.jpeg?maxwidth=520&shape=thumb&fidelity=high" alt="Logo Universitas ABC" class="edu-img" />
          <p class="edu-year">2021 - 2024</p>
        </a>
      </div>
    </div>
    
    
    

  </div>
</section>
