<section id="contact">
<footer class="footer bg-custom-footer text-dark py-4 mt-0">
    <div class="container text-center">
      <h4 class="mb-2 fw-bold">Raihan Putra Ediananta</h4>
      <p class="mb-4">Portofolio saya - © 2025 Semua hak dilindungi</p>
      
      <div class="footer-icons d-flex justify-content-center flex-wrap gap-4">
        <div><i class="fas fa-envelope me-2"></i> r4ihanediananta@gmail.com</div>
        <div><i class="fas fa-phone me-2"></i> 0811560090</div>
        <div>
          <i class="fab fa-instagram me-1"></i>
          <a href="https://www.instagram.com/raihan_pe?igsh=MXI2ZGg5aTRmYzl1aQ==" class="text-dark text-decoration-none" target="_blank">Instagram</a>
        </div>
        <div>
          <i class="fab fa-linkedin me-1"></i>
          <a href="https://www.linkedin.com/in/raihan-ediananta" class="text-dark text-decoration-none" target="_blank">LinkedIn</a>
        </div>
        <div>
          <i class="fab fa-github me-1"></i>
          <a href="https://github.com/RPE-07" class="text-dark text-decoration-none" target="_blank">Github</a>
        </div>
      </div>
    </div>
  </footer>

  </section>


